#wp-submit {
    background: #F15A38 !important;
    border: 1px solid #F15A38 !important;
    color: #fff !important;
box-shadow:none !important;
text-shadow:none !important;
}
a:hover {
color:#F15A38 !important;
}
body {
background:url(../images/log-fon.jpg);
background-size:cover;
}
.login #backtoblog a, .login #nav a {
color: #fff !important;
}